nav#menu{
    display: block;
}
nav#menu ul{
    text-transform: uppercase;
    list-style: none;
    position: absolute;
    left: 800px;
    top: 40px;
}
nav#menu h1{
    display: none;
}
nav#menu li{
    display: inline-block;
    background-color: rgb(69, 71, 212);
    padding: 15px;

}
body{
    background-color: rgb(64, 166, 255);
    margin: 0px;
    background-image: url();
}
header{
    background-color: white;
    padding-top: 90px;
    padding-bottom: 30px;
    position: relative;

}
img{
    max-width: 300px;
    top: 20px;
    
}
nav#menu a:link{
    text-decoration: none;
    color: black;
    font-family: Verdana;
    font-weight: bold;
    transition: all 0.8s;
}
nav#menu a :visited{
    color: black;
}
nav#menu a:hover{
    color: rgb(252, 252, 252);
}
